:root {
    --ueli-black-900: #263238;
    --ueli-black-800: #37474f;
    --ueli-black-700: #455a64;
    --ueli-black-600: #546e7a;
    --ueli-black-500: #607d8b;
    --ueli-black-400: #78909c;
    --ueli-black-300: #90a4ae;
    --ueli-black-200: #b0bec5;
    --ueli-black-100: #cfd8dc;
    --ueli-black-50: #eceff1;

    --ueli-white: #fafafa;
    --ueli-blue: #2196f3;

    --ueli-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --ueli-font-size-11: 11px;
    --ueli-font-size-13: 13px;
    --ueli-font-size-16: 16px;
    --ueli-font-size-24: 24px;

    --ueli-font-weight-400: 400;
    --ueli-font-weight-600: 600;

    --ueli-spacing-1x: 4px;
    --ueli-spacing-2x: 8px;
    --ueli-spacing-3x: 12px;
    --ueli-spacing-4x: 16px;

    --ueli-border: 1px solid var(--ueli-black-800);

    --ueli-transition: all 100ms ease-in-out;

    --ueli-scrollbar-size: 8px;
    --ueli-scrollbar-background-color: var(--ueli--black-800);
    --ueli-scrollbar-foreground-color: var(--ueli-black-700);
}
